.header {
  position: relative;
  height: 78px;
    width:100%;
  border-bottom: 2px solid #000000;
}

.header img {
}

.header-image-wrapper {
  position: absolute;
  bottom: 0px;
  top: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.header div.latest-release {
  border: 1px solid #000000;
  position: absolute;
  top: 10px;
  right: 10px;
}

.header .latest-release table td {
  padding: 2px;
}

.header .latest-release table td.label {
  text-align: right;
  font-weight: bold;
}

div.header div.title {
  position: absolute;
  left: 100px;
  top: 0px;
  font-weight: bold;
  font-size: 32px;
}

div.content {
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
}

div.content div.title {
    margin-top: 5px;
    margin-bottom: 5px;
    width:100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.mugl {
    width: 100%;
    height: 500px;
    overflow: auto;
    border: 2px solid;
    text-align: left;
}

.multigraph {
  width:800px;
  height:400px;
}

div.nav {
  position: absolute;
  bottom: -2px;
  left: 110px;
  display: block-inline;
  border-bottom: 2px solid #000000;
  padding-bottom: 0;
}

.nav a {
    text-decoration: none;
    font-weight: bold;
    color:#000000;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  background: #cccccc;
  margin-bottom: 0;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 1px;
  padding-right: 10px;
  display: inline;

  border: 2px solid #000000;


}

.nav li.selected {
  background: #ffffff;
  border-bottom: 2px solid #ffffff;
}

ul.example {
  font-size: 14px;
}
ul.example li.selected {
  font-size: 16px;
  font-weight: bold;
}


pre {
  background-color: #f8f8f8;
  border: 1px solid #CCC;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
}

table.release-table {
  margin-left: 40px;
  border-collapse: collapse;
}

table.release-table th, table.release-table td {
  border: 1px solid black;
  padding: 5px;
}


.release-table tr th {
  text-align: left;
  font-weight: bold;

}

table.logo-footer {
  position: absolute;
  bottom: 25px;
}

table.logo-footer tr td {
  padding-left: 20px;
}
