      <footer>
          <a href="//github.com/multigraph/js-multigraph" class="icon"><i class="fa fa-github fa-3x"></i></a><br />
          <p>&copy; <script>document.write(new Date().getFullYear())</script> <a href="//nemac.unca.edu"><abbr title="UNC Asheville's National Environmental Modeling & Analysis Center">UNC Asheville's NEMAC</abbr></a></p>
      </footer>

    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
