<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Multigraph - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Multigraph, NEMAC, javascript graphs, 2d graphs, web graphs">
    <meta name="description" content="Multigraph is software for creating 2-dimensional scientific data graphs on web pages. It can read data in a variety of formats, and allow you to customize the appearance of the graph. Written in JavaScript and compatible with modern web browsers, including mobile devices.">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
