<table class="release-table">
<tr>
<th>Version</th>
<th>Date Released</th>
<th>Release Notes</th>
<th>JavaScript File</th>
<th>Compressed JavaScript File</th>
</tr>
<tr>
  <td class="value"></td>
  <td class="value"></td>
  <td class="value"><a href="ReleaseNotes-.html">Read</a></td>
  <td class="value"><a href="multigraph.js">multigraph.js</a></td>
  <td class="value"><a href="multigraph-min.js">multigraph-min.js</a></td>
</tr>
<tr>
  <td class="value"></td>
  <td class="value"></td>
  <td class="value">MISSING</td>
  <td class="value">MISSING</td>
  <td class="value">MISSING</td>
</tr>
</table>
