<div class="nav">
  <ul>
    <li class="{{page.menu-home}}"><a href="{{page.siteroot}}">Home</a></li>
    <li class="{{page.menu-download}}"><a href="{{page.siteroot}}/download">Download</a></li>
    <li class="{{page.menu-documentation}}"><a href="{{page.siteroot}}/docs">Docs &amp; Support</a></li>
    <li class="{{page.menu-examples}}"><a href="{{page.siteroot}}/examples">Examples</a></li>
    <li class="{{page.menu-tester}}"><a href="{{page.siteroot}}/tester">Tester</a></li>
    <li class="{{page.menu-credits}}"><a href="{{page.siteroot}}/credits">Credits</a></li>
  </ul>
</div>
