---
title: Integrate
integrate: selected
---

{% include header.html %}
{% include inc.prettify.html %}
{% include content.html %}

        <h2>Integrating Multigraph</h2>
        <p>Multigraph can be either implemented by externally linking to the <a href="/download/multigraph-min.js">multigraph-min.js</a> file, or by internally hosting it and including it yourself in your site.</p>

        <h3>Internal Integration</h3>
        <ol>
            <li>Download the <a href="/download/multigraph-min.js">multigraph-min.js</a> file into your site.</li>
            <li>In the <code>&lt;head&gt;</code> of your site, reference the location to multigraph-min.js.
            <p><pre class="prettyprint">&lt;script type="text/javascript" src="<strong>path/to/multigraph/js/multigraph-min.js</strong>"&gt;&lt;/script&gt;</pre></p></li>
        </ol>

        <h3>External Integration</h3>
        <ul>
            <li>Paste the code below into your site's <code>&lt;head&gt;</code> section of your HTML.
            <p><pre class="prettyprint">&lt;script type="text/javascript" src="//multigraph.github.io/js/multigraph-min.js"&gt;&lt;/script&gt;</pre></p></li>
        </ul>

        <h3>Including Multigraph onto your page</h3>
        <ul>
            <li>To display a Multigraph onto your page, include the XML file by the following code below. Note that the <code>data-width</code> and <code>data-height</code> tags can be modified to your preference. Additionally, these attributes can be dropped if you create CSS counterparts.
            <p><pre class="prettyprint">&lt;div class="multigraph" data-src="<strong>XMLFileHere</strong>" data-width="500" data-height="400"&gt;&lt;/div&gt;</pre></p></li>
        </ul>

{% include end.html %}
