<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{siteroot}}/common.css"></link>
    <link rel="stylesheet" href="{{siteroot}}/borland.css"></link>
    <script type="text/javascript" src="{{siteroot}}/lib/js-multigraph/build/multigraph-min.js"></script>
    <script type="text/javascript">$ = window.multigraph.jQuery;</script>
    {{headers}}
  </head>
  <body>
    <div class="header">
      <span class="header-image-wrapper">
        <img src="{{siteroot}}/multigraph.png" width="72" height="72"/>
      </span>
      <div class="title">Multigraph - Interactive Data Graphs for the Web</div>
      {{sitemenu}}
    </div>
    <div class="content">
      {{content}}
    </div>
  </body>
</html>
