---
title: Download
download: selected
---

{% include header.html %}
{% include inc.prettify.html %}
{% include content.html %}

        <h2>Download Multigraph</h2>
        <p>Here you may download the file(s) that add Multigraph support to your site. If you do not want to host these files locally, you may simply include them as explained on our <a href="/integrate">integration page</a>.</p>

            <a class="btn btn-primary btn-sm" href="multigraph-min.js"><i class="fa fa-download"></i> multigraph-min.js</a>
            <a class="btn btn-primary btn-sm" href="multigraph.js"><i class="fa fa-download"></i> multigraph.js</a>

            <br />
            <h3>Release Notes</h3>
        <table class="release-table">
            <tr>
                <th>Version</th>
                <th>Date Released</th>
                <th>Release Notes</th>
            </tr>
            <tr>
                <td>4.3rc1</td>
                <td>2014-04-22 13:06:40 -0400</td>
                <td class='notes'><a href='ReleaseNotes-4.3rc1.html'>Read</a></td>
            </tr>
            <tr>
                <td>4.2</td>
                <td>2013-04-08 17:01:06 -0400</td>
                <td class='notes'><a href='ReleaseNotes-4.2.html'>Read</a></td>
            </tr>
            <tr>
                <td>4.1</td>
                <td>2013-03-21 16:39:46 -0400</td>
                <td class='notes'><a href='ReleaseNotes-4.1.html'>Read</a></td>            </td>
            </tr>
            <tr>
                <td>4.0</td>
                <td>2013-01-03 00:17:07 -0500</td>
                <td class='notes'><a href='ReleaseNotes-4.0.html'>Read</a></td>
            </tr>
            <tr>
                <td>4.0rc7</td>
                <td>2012-12-20 17:34:01 -0500</td>
                <td class='notes'><a href='ReleaseNotes-4.0rc7.html'>Read</a></td>
            </tr>
            <tr>
                <td>4.0rc6</td>
                <td>2012-12-20 16:19:35 -0500</td>
                <td class='notes'><a href='ReleaseNotes-4.0rc6.html'>Read</a></td>
            </tr>
            <tr>
                <td>4.0rc5</td>
                <td>2012-12-12 14:51:09 -0500</td>
                <td class='notes'><a href='ReleaseNotes-4.0rc5.html'>Read</a></td>
            </tr>
            <tr>
                <td>4.0rc4</td>
                <td>2012-12-11 20:12:22 -0500</td>
                <td class='notes'><a href='ReleaseNotes-4.0rc4.html'>Read</a></td>
            </tr>
            <tr>
                <td>4.0rc3</td>
                <td>2012-12-10 23:09:31 -0500</td>
                <td class='notes'><a href='ReleaseNotes-4.0rc3.html'>Read</a></td>
            </tr>
            <tr>
                <td>4.0rc2</td>
                <td>2012-12-06 22:18:20 -0500</td>
                <td class='notes'><a href='ReleaseNotes-4.0rc2.html'>Read</a></td>
            </tr>
            <tr>
                <td>4.0rc1</td>
                <td>2012-12-06 17:36:24 -0500</td>
                <td class='notes'><a href='ReleaseNotes-4.0rc1.html'>Read</a></td>
            </tr>
            </table>

            <h3>Older (pre-HTML5) Versions</h3>
            <p>Prior to the HTML5 version (i.e. prior to version 4.0), Multigraph was an Adobe Flash application. The Flash version of Multigraph was/is used in much the same way as the current HTML5/JavaScript. The original <a href="http://www.multigraph.org">www.multigraph.org</a> web site explains how to use the Flash version, and all versions of it are available in our <a href="http://multigraph.github.io/archive">archive</a>.</p>

{% include end.html %}
